<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
      Load Tester Tool
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <div class="dropdown">
          <button class="dropbtn">Конфигурации Openshift</button>
          <div class="dropdown-content">
            <a th:href="@{/tutorials}">Проверить</a>
            <a th:href="@{/tutorials/new}">Добавить</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>